<div class="w-full px-3 mx-auto">
    <h1 class="text-3xl mb-6 font-bold text-center">My Appointments</h1>
    {{#if appointments}}
        <div class="flex mt-6 mb-6 justify-center items-center">
            <div class="flex1 px-3 mb-6 md:mb-0">
                <label class="block tracking-wide text-blue-900 text-md font-bold mb-2" for="grid-last-name">
                    Filter From
                </label>
                <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
                    <div class="relative">
                        <input id="filter-start-date" type="hidden" name="date" x-ref="date">
                        <input type="text" readonly x-model="datepickerValue" @click="showDatepicker = !showDatepicker"
                            @keydown.escape="showDatepicker = false"
                            class="appearance-none block w-full bg-gray-200 text-blue-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            placeholder="Select date">

                        <div class="absolute top-0 right-0 px-3 py-2">
                            <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <div class="bg-gray-200 mt-12 rounded-lg shadow p-4 absolute top-0 left-0" style="width: 17rem; z-index: 10"
                            x-show.transition="showDatepicker" @click.away="showDatepicker = false">

                            <div class="flex justify-between items-center mb-2">
                                <div>
                                    <span x-text="MONTH_NAMES[month]" class="text-lg font-bold text-gray-800"></span>
                                    <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal"></span>
                                </div>
                                <div>
                                    <button type="button"
                                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full"
                                        :class="{'cursor-not-allowed opacity-25': month == 0 }"
                                        :disabled="month == 0 ? true : false" @click="month--; getNoOfDays()">
                                        <svg class="h-6 w-6 text-gray-500 inline-flex" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 19l-7-7 7-7" />
                                        </svg>
                                    </button>
                                    <button type="button"
                                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full"
                                        :class="{'cursor-not-allowed opacity-25': month == 11 }"
                                        :disabled="month == 11 ? true : false" @click="month++; getNoOfDays()">
                                        <svg class="h-6 w-6 text-gray-500 inline-flex" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M9 5l7 7-7 7" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="flex flex-wrap mb-3 -mx-1">
                                <template x-for="(day, index) in DAYS" :key="index">
                                    <div style="width: 14.26%" class="px-1">
                                        <div x-text="day" class="text-gray-800 font-medium text-center text-xs">
                                        </div>
                                    </div>
                                </template>
                            </div>

                            <div class="flex flex-wrap -mx-1">
                                <template x-for="blankday in blankdays">
                                    <div style="width: 14.28%"
                                        class="text-center border p-1 border-transparent text-sm"></div>
                                </template>
                                <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">
                                    <div style="width: 14.28%" class="px-1 mb-1">
                                        <div @click="getDateValue(date)" x-text="date"
                                            class="cursor-pointer text-center text-sm leading-none rounded-full leading-loose transition ease-in-out duration-100"
                                            :class="{'bg-blue-900 text-white': isToday(date) == true, 'text-gray-700 hover:bg-blue-300': isToday(date) == false }">
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex1 px-3">
                <label class="block tracking-wide text-blue-900 text-md font-bold mb-2" for="grid-last-name">
                    To
                </label>
                <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
                    <div class="relative">
                        <input id="filter-end-date" type="hidden" name="date" x-ref="date">
                        <input type="text" readonly x-model="datepickerValue" @click="showDatepicker = !showDatepicker"
                            @keydown.escape="showDatepicker = false"
                            class="appearance-none block w-full bg-gray-200 text-blue-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            placeholder="Select date">

                        <div class="absolute top-0 right-0 px-3 py-2">
                            <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <div class="bg-gray-200 mt-12 rounded-lg shadow p-4 absolute top-0 left-0" style="width: 17rem; z-index: 10"
                            x-show.transition="showDatepicker" @click.away="showDatepicker = false">

                            <div class="flex justify-between items-center mb-2">
                                <div>
                                    <span x-text="MONTH_NAMES[month]" class="text-lg font-bold text-gray-800"></span>
                                    <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal"></span>
                                </div>
                                <div>
                                    <button type="button"
                                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full"
                                        :class="{'cursor-not-allowed opacity-25': month == 0 }"
                                        :disabled="month == 0 ? true : false" @click="month--; getNoOfDays()">
                                        <svg class="h-6 w-6 text-gray-500 inline-flex" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 19l-7-7 7-7" />
                                        </svg>
                                    </button>
                                    <button type="button"
                                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full"
                                        :class="{'cursor-not-allowed opacity-25': month == 11 }"
                                        :disabled="month == 11 ? true : false" @click="month++; getNoOfDays()">
                                        <svg class="h-6 w-6 text-gray-500 inline-flex" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M9 5l7 7-7 7" />
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            <div class="flex flex-wrap mb-3 -mx-1">
                                <template x-for="(day, index) in DAYS" :key="index">
                                    <div style="width: 14.26%" class="px-1">
                                        <div x-text="day" class="text-gray-800 font-medium text-center text-xs">
                                        </div>
                                    </div>
                                </template>
                            </div>

                            <div class="flex flex-wrap -mx-1">
                                <template x-for="blankday in blankdays">
                                    <div style="width: 14.28%"
                                        class="text-center border p-1 border-transparent text-sm"></div>
                                </template>
                                <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">
                                    <div style="width: 14.28%" class="px-1 mb-1">
                                        <div @click="getDateValue(date)" x-text="date"
                                            class="cursor-pointer text-center text-sm leading-none rounded-full leading-loose transition ease-in-out duration-100"
                                            :class="{'bg-blue-900 text-white': isToday(date) == true, 'text-gray-700 hover:bg-blue-300': isToday(date) == false }">
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button 
                id="filter-appointment-btn"
                class="bg-transparent hover:bg-blue-600 text-blue-600 font-semibold hover:text-white py-2 px-4 border border-blue-600 hover:border-transparent rounded-full mr-2 px-6">
                    Filter
            </button>
        </div>
        <div id="filter-date-alert" class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative w-3/6 mx-auto mb-8 hidden" role="alert">
            <strong class="font-bold">Oops!</strong>
            <span class="block sm:inline">Please select/reselect your desired date range and try again.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-yellow-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
        {{#each appointments}}
            <div class="max-w-sm rounded overflow-hidden shadow-md mx-auto mb-4">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Appointment {{this.appointment_id}}</div>
                    <p class="text-gray-700 text-base">
                        From <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{dateFormat this.start_date "dddd, MMMM Do YYYY, h:mm:ss a"}}</span>
                    </p>
                    <p class="text-gray-700 text-base">
                        To <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{dateFormat this.end_date "dddd, MMMM Do YYYY, h:mm:ss a"}}</span>
                    </p>
                    <p class="text-gray-700 text-base">
                        {{this.comments}}
                    </p>
                </div>
                <div class="px-6 pt-2 pb-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        <a href="/profile/appointment/{{this.appointment_id}}/edit">Edit</a>
                    </button>
                    <button 
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
                        onClick="deleteAppointment({{this.appointment_id}})">
                        Delete
                    </button>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="text-center">
            <div class="bg-yellow-100 border-t border-b border-yellow-500 text-yellow-700 px-4 py-3" role="alert">
                <p class="font-bold">No match results</p>
                <p class="text-sm">Click the button below to book an appointment</p>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full mt-4 mr-2">
                    <a href="/profile/appointment/create">Book now</a>
                </button>
                or
                <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full mt-4 ml-2">
                    <a href="/profile">Go back home</a>
                </button>
            </div>
        </div>
    {{/if}}
</div>

<script src="/javascripts/views/deleteAppointment.js"></script>
<script src="/javascripts/views/filterAppointment.js"></script>